.navImage {
	width: 26px;
	height: 26px;
}

.navbar .navbar-brand {
	padding:12px;
}

.navCon .navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar .container-fluid {
	background-color: #585858;
}

.navCon .navbar {
	margin: 0px;
	padding: 0px;
}

.navbar-centered .navbar-nav {
    float: none;
    text-align: center;
}

.navbar-centered .navbar-nav > li {
    float: none;
}

.navbar-centered .nav > li {
    display: inline;
}

.navbar-centered .nav > li > a {
    display: inline-block;
}


.streamPlayer {
	padding: 50px;
	padding-bottom: 5px;
	
}

.mainContainer {
	background-image: url("Background.png");
}

.streamPlayer .imgRemovepadding {
	padding-right: 0px;
}

.streamPlayer .player{
	max-height: 400px;
	max-width: 740px;
	margin: 0 auto;
	padding-left: 0px;
	padding-top: 10px;
}

.player .mainStream {
	border-color: #000;
	border: 5px;
}

.browserContainer {
	background-color: #848484;
}

.streamPlayer .row #testBlock {
	border:2px solid #6F4E37;
	height:;
}

.streamButtons {
	display: inline;
}

.streamButtons .buttons {
	display: inline-block;
}