.navImage {
	width: 26px;
	height: 26px;
}

.navbar .navbar-brand {
	padding:12px;
}

.navCon .navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar .container-fluid {
	background-color: #4B4B4B;
}

.navCon .nav {
	padding-right: 60px;
}

.navCon .navbar {
	margin: 0px;
}

.navbar-centered .navbar-nav {
    float: none;
    text-align: center;
}

.navbar-centered .navbar-nav > li {
    float: none;
}

.navbar-centered .nav > li {
    display: inline;
}

.navbar-centered .nav > li > a {
    display: inline-block;
}

.navCon .navbar {
	margin: 0px;
	padding: 0px;
}

.titleBanner {
	padding: 50px;
	padding-left: 90px;
	padding-bottom: 5px;
	color: #999999;
}

.mainContainer #titleIcon {
	padding: 0px;
}

.streamPlayer {
	padding: 50px;
	padding-right: ;
	padding-left: ;
	padding-bottom: 10px;
}

.mainContainer {
	background-image: url("Background.png");
}

.streamPlayer .imgRemovepadding {
	padding-right: ;
}

.streamPlayer .player{
	margin: 0 auto;
	padding-left:;
	padding-top: 10px;
}

.player .mainStream {
	border-color: #000;
	border: 5px;
	max-width: ;
}

.streamPlayer #buttons {
	padding: 20px;
}

.streamPlayer #chat {
	padding-bottom: 20px;
}

#footer {
	background-image: url("Background.png");
	margin: 0px;
	border: 0px;
	color: #ffffff;
	padding: 25px;
}

// Mixin
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}